.converter-converter {
  width: 100%;
  height: 1254px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.converter-group6011 {
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 818px;
  position: absolute;
  border-color: transparent;
}
.converter-text {
  top: 275px;
  left: 477px;
  color: rgba(253, 196, 118, 1);
  width: 670px;
  height: auto;
  position: absolute;
  font-size: 94.06047058105469px;
  align-self: auto;
  box-shadow: 0px 2.8941683769226074px 2.8941683769226074px 0px rgba(0, 0, 0, 0.3499999940395355) ;
  font-style: italic;
  text-align: left;
  font-family: TeX Gyre Termes;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.converter-text2 {
  top: 407px;
  left: 439px;
  color: rgba(255, 255, 255, 1);
  width: 643px;
  height: auto;
  position: absolute;
  font-size: 51.25908279418945px;
  align-self: auto;
  box-shadow: 0px 3.01524019241333px 3.01524019241333px 0px rgba(0, 0, 0, 0.4000000059604645) ;
  font-style: Bold;
  text-align: right;
  font-family: TeX Gyre Termes;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.converter-hero-button31 {
  top: 531px;
  left: 665px;
  width: 198px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.converter-hero-button41 {
  top: 531px;
  left: 883.6513671875px;
  width: 198px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.converter-group611 {
  top: 275px;
  left: 73px;
  width: 384px;
  height: 391px;
  position: absolute;
  border-color: transparent;
}
.converter-icons8menurounded10014 {
  top: 175px;
  right: 152px;
  width: 60px;
  height: 26px;
  position: absolute;
  border-color: transparent;
}
.converter-group621 {
  top: 341px;
  left: 2158px;
  width: 1631px;
  height: 271px;
  position: absolute;
  border-color: transparent;
}
